<div *ngFor="let user of usersList">
    <!-- <span (click)="showDetails(user.id)">{{user.firstName}}</span> -->
    <div *ngIf="!user.isDeleted">
        <div class="card" style="width: 80%;border:2px solid lightgreen ;margin: 5px 150px;">
            <div class="card-body">
                <h5 class="card-title">{{user.name}} User</h5>
                <button (click)="showDetails(user.id)" class="btn btn-danger"
                    style="margin-left: 90%;">Deactivate</button>
            </div>
        </div>
    </div>
</div>